<a href="https://colab.research.google.com/github/rivaldo125/rivaldopatriakusuma/blob/main/Pratikum3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd

In [7]:
path_="/content/drive/My Drive/Machine Learning/Dataset/data_sales.csv"
Dataset=pd.read_csv(path_)
Dataset

   Customer Number     Customer Name        2016  ... Day  Year Active
0          10002.0  Quest Industries  $125000.00  ...  10  2015      Y
1         552278.0    Smith Plumbing  $920000.00  ...  15  2014      Y
2          23477.0   ACME Industrial   $50000.00  ...  29  2016      Y
3          24900.0        Brekke LTD  $350000.00  ...  27  2015      Y
4         651029.0         Harbor Co   $15000.00  ...   2  2014      N

[5 rows x 10 columns]

In [9]:
Dataset['2016'] + Dataset['2017']

0     $125000.00$162500.00
1    $920000.00$1012000.00
2       $50000.00$62500.00
3     $350000.00$490000.00
4      $15000.00$127500.00
dtype: object

In [10]:
Dataset.dtypes

Customer Number    float64
Customer Name       object
2016                object
2017                object
Percent Growth      object
Jan Units           object
Month                int64
Day                  int64
Year                 int64
Active              object
dtype: object

In [ ]:
floatDataset.info()

In [25]:
Dataset["Customer Number"] = Dataset['Customer Number'].astype('int')
Dataset.dtypes

Customer Number     int64
Customer Name      object
2016               object
2017               object
Percent Growth     object
Jan Units          object
Month               int64
Day                 int64
Year                int64
Active             object
dtype: object

In [26]:
Dataset['2017'].astype('float')

ValueError: ignored

In [27]:
Dataset['Jan Units'].astype('int')

ValueError: ignored

In [28]:
Dataset['Active'].astype('bool')

0    True
1    True
2    True
3    True
4    True
Name: Active, dtype: bool